@media print {
    body {
        background-color: aqua;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 0.2rem;
    }

    td,
    th {
        border: 0.2px solid transparent;
        padding: 0.4rem;
        text-align: left;
        font-size: xx-small;
    }

    @page :left {
        margin-right: 0;
    }

    @page :right {
        margin-left: 0;
    }
}
